body {
	background-color: black;
	color: white;
}

div#container {
	margin: 4em;
}

div#container header {
	display: inline;
}

div#container header h1 {
	display: inline;
	padding-left: 2em;
	vertical-align: top;
}

h1 {
	font-family: arial;
	font-size: 4vw;
}

img.square-logo {
  width: auto;
  height: 100%;
  max-height: 20vh;
}

hr {
	border: 1px solid white;
}

div#contents {
	margin: 2em;
}

h2 {
	color: #4474AC;
	font-family: avenir, arial;
	font-size: 2vw;
}

h3 {
	color: #4474AC;
	font-family: avenir, arial;
	font-size: 1.75vw;
}

p {
	font-size: 1.2vw;
}

a {
	color: #9C193A;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {

}

li {
	font-family: sans-serif;
}

div.sub-container {
	margin: 2em;
}